@media (max-width: 980px) {
	.work {
		width: 50%;
	}
	p {
		margin-bottom:30px;
		padding-left:30px;
		padding-right:30px;
	}
}

@media (max-width: 600px) {
	.work {
		width:100% ;
	}

	.illust1, .illust2 {
		padding-left:10px;
		padding-right:10px;
	}
	h2 {
		padding-left:25px;
		padding-right:25px;
	}
}
